version: "3.9"

services:
  web:
    build: .
    container_name: website_chatbot_app
    command: uvicorn main:app --reload --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
